<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<script src="../js/vue.js"></script>
</head>
<body>
<div id="wrap">
	fristName: <input type="text" v-model="fristName"/><br>
	lastName: <input type="text" v-model="lastName"/><br>
	fullName: <input type="text" v-model="fullName"/><br>

</div>
</body>
<script>
	var vue = new Vue({
		el : "#wrap",
		data : {
		  fristName:'T',
			lastName:'om'
		},
		computed:{
      fullName(){
        return this.fristName+'-'+this.lastName
      }
		}
	})
</script>
</html>